<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{$title}</title>
<link href="img/cancerinfo_ico.ico" rel="shortcut icon" />
<link rel="stylesheet" href="css/stylesheet.css" />
<script src="lib/jquery-1.12.1.min.js"></script>
<script src="lib/cancerT.js"></script>
</head>

<body>
<div id="watermark"></div>
<div class="main">
  <div class="navbar">
    <div class="navi">
      <div class="nav-brand"><a href="#/"><img class="logo-brand" src="img/modellab_logo.png"></a></div>
      <div id="nav-ui">
        <ul>
          <li><a href="index.php"><b>CancerINFO</b></a></li>
          <li><a href="cancer_browser.php">CANCER BROWSER</a></li>
          <li><a href="gene_browser.php">GENE BROWSER</a></li>
          <li><a href="search.php">SEARCH</a></li>
          <li><a href="data.php">DOWNLOAD</a></li>
          <li><a href="doc.php">DOCUMENTATION</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <div class="content-about">
        <h1>About CancerINFO</h1>
        <p>OncoKB is a precision oncology knowledge base and contains information about the effects and therapy implications of specific cancer gene alterations. It is developed and maintained by the Knowledge Systems group in the Marie Josée and Henry R. Kravis Center for Molecular Oncology at Memorial Sloan Kettering Cancer Center (MSK), in partnership with Quest Diagnostics.</p>
        <p>Curated by a network of clinical fellows, research fellows, and faculty members at MSK, OncoKB contains detailed information about specific alterations in 418 cancer genes. The information is curated from various sources, such as guidelines from the FDA, NCCN, or ASCO, ClinicalTrials.gov and the scientific literature.</p>
        <p>For each variant, we have curated the biological effect, prevalence and prognostic information, as well as therapy implications. therapy information is classified using the Levels of Evidence system which assigns the clinical actionability (ranging from standard-of-care to investigational or hypothetical therapys) to individual mutational events. OncoKB currently contains therapy information for Level 1, Level 2, and Level 3 variants, i.e. those variants for which an FDA-approved or standard of care therapy is available (Levels 1 and 2), and those for which there is clinically proven sensitivity to drugs that are currently in clinical trials (Level 3).</p>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="foot">
      <p>Copyright © 2017-2020 <a href="https://github.com/ModelLAB-ZJU">SynergyLAB</a> | All Rights Reserved </p>
      
    </div>
  </div>
</div>
</body>
</html>
