<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

<link rel="stylesheet" type="text/css" href="../css/qtip.css">
<link type="text/css" rel="stylesheet" href="../css/cmotree.css">
<script type="text/javascript" src="../lib/jquery-1.12.1.min.js"></script>
<script type="text/javascript" src="../lib/d3.v3.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../lib/qtip.js"></script>
<script type="text/javascript" src="../lib/clipboard.js"></script>
<script type="text/javascript" src="../lib/oncotree.js"></script>
<script type="text/javascript" src="../lib/main.js"></script>

</head>
<body>
  <div>Includes 697 tumor types from 32 tissues.</div>
  <div>This is the latest approved version for public use.</div>
  <!--<div id="tumor_search">
    <input type="text" placeholder="Search Tumor Type">
    <button type="button">Search</button>
  </div>-->
  <div id="tree">
  <div id="tree-div" style="width:1000px; height:1000px;"></div>
  </div>
</body>
</html>