<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{$title}</title>
<link href="img/cancerinfo_ico.ico" rel="shortcut icon" />
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/bootstrap-table.css">
<link rel="stylesheet" href="css/bootstrap-editable.css">
<link rel="stylesheet" href="css/stylesheet.css" />
<link rel="stylesheet" href="css/nav.css" />

<script src="lib/jquery-1.12.1.min.js"></script>
<script src="lib/cancerT.js"></script>
<script src="lib/backbone.js" type="text/javascript"></script>
<script src="lib/ga.js" type="text/javascript"></script>
<script src="lib/nav.js" type="text/javascript"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="lib/bootstrap-table.js"></script>
<script src="lib/bootstrap-table-export.js"></script>
<script src="lib/tableExport.js"></script>
<script src="lib/bootstrap-editable.js"></script>
</head>
<body>
<div id="watermark"></div>
<div class="main">
  <div class="navbar">
    <div class="navi">
      <div class="nav-brand"><a href="#/"><img class="logo-brand" src="img/modellab_logo.png"></a></div>
      <div id="nav-ui">
        <ul>
          <li><a href="index.php"><b>CancerINFO</b></a></li>
          <li><a href="cancer_browser.php">Tissue Browser</a></li>
          <li><a href="gene_browser.php">Gene Browser</a></li>
          <li><a href="search.php">Search Tool</a></li>
          <li><a href="data.php">Data Access</a></li>
          <li><a href="doc.php">Help</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      
      <div style="clear:both"></div>
    </div>
  </div>
  <div class="footer">
    <div class="foot">
      <p>Copyright © 2017-2020 <a href="https://github.com/ModelLAB-ZJU">SynergyLAB</a> | All Rights Reserved </p>
      
    </div>
  </div>
</div>
</body>
</html>